* {
	font-family: NotoSans Nerd Font Propo;
	font-size: 13px;
	min-height: 0;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 0px;
}

#waybar {
	background: transparent;
	color: #EBDBB2;
	margin: 2px 2px;
}

#workspaces {
	border-radius: 5px;
	margin: 5px;
	background: #282828;
	margin-left: 2px;
}

#workspaces button {
	color: #babbf1;
	border-radius: 5px;
	padding: 0.4rem;
}

#workspaces button.active {
	color: #99d1db;
	border-radius: 5px;
}

button {
	background: transparent;
}

#workspaces button:hover {
	background: #1e1e1e;
	border: 0px solid transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-notification,
#custom-weather,
#custom-uptime,
#custom-docker {
	background-color: #282828;
	padding: 0.5rem 1rem;
	margin: 5px 0;
}

#clock {
	color: #EBDBB2;
	border-radius: 5px;
}

#custom-weather {
	color: #8caaee;
	margin-left: 0.5rem;
	border-radius: 5px;
}

#battery {
	color: #B8BB26;
}

#battery.charging {
	color: #FABD2F;
}

#battery.warning:not(.charging) {
	color: #e78284;
}

#backlight {
	color: #D3869B;
}

#backlight,
#battery {
	border-radius: 0;
}

#pulseaudio {
	color: #83A598;
	border-radius: 5px 0px 0px 5px;
}

#custom-docker {
	color: #85c1dc;
}

#custom-music {
	color: #ca9ee6;
	border-radius: 5px;
}

#custom-lock {
	color: #babbf1;
}

#custom-power {
	margin-right: 4px;
	border-radius: 0px 5px 5px 0px;
	color: #FB4934;
}

#custom-notification {
	color: #A89984;
	background-color: #32302F;
	border-bottom: 2px solid #D3869B;

	font-size: 12px;
	padding: 0.15rem 0.5rem;

	border-radius: 6px;
}

#custom-docker.docker {
	color: #85c1dc;
}

#custom-docker.docker-none {
	color: #737994;
}

#custom-docker.docker-error {
	color: #e78284;
}

#custom-weather.clear {
	color: #e5c890;
	/* Sunny yellow */
}

#custom-weather.cloud {
	color: #99d1db;
	/* Light blue */
}

#custom-weather.rain {
	color: #8caaee;
	/* Blue */
}

#custom-weather.snow {
	color: #c6d0f5;
	/* White-ish */
}

#custom-weather.thunder {
	color: #ca9ee6;
	/* Purple */
}

#custom-weather.fog {
	color: #b0b4bc;
	/* Gray */
}

#custom-weather.error {
	color: #e78284;
	/* Red */
}
